.Dictionary section {
	background: #ffffff;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px 1px rgb(208, 208, 208);
	margin: 20px 0;
}

.Dictionary input {
	width: 100%;
	padding: 5px 4px;
	color: rgb(49, 49, 49);
	border: 1px solid rgb(136, 136, 136);
}

.Dictionary .hint {
	font-size: 13px;
	margin-top: 3px;
}

.Dictionary h1 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
